[Unit]
Description={{component.name}}

[Service]
Environment="LOCALE_ARCHIVE={{component.env['LOCALE_ARCHIVE']}}"
Environment="PATH={{component.env['PATH']}}"
Environment="TZDIR={{component.env['TZDIR']}}"
Type=forking

LimitNOFILE=64000
LimitNPROC=64173

User={{component.environment.service_user}}
Group=service

ExecStart={{component.root.workdir}}/{{component.executable}}
