# Managed by Batou.
[Unit]
Description={{component.name}}
# {{component.checksum}}

[Service]
Environment="LOCALE_ARCHIVE={{component.env['LOCALE_ARCHIVE']}}"
Environment="PATH={{component.env['PATH']}}"
Environment="TZDIR={{component.env['TZDIR']}}"

{% for key, value in component.service_configuration() %}
{{key}}={{value}}
{% endfor -%}
