# Managed by Batou.
{% for section in component.config|sort -%}
[{{section}}]
{% for key, value in component.config[section]|sort -%}
{{key}}={{value}}
{% endfor %}
{% endfor %}
