exclude: ^secrets/|^appenv$
repos:
- hooks:
  - id: detect-private-key
  - id: check-added-large-files
  - exclude: "(?x)^(\n  secrets/|environments/.*/secret.*|\n  .*\\.patch\n)$\n"
    id: trailing-whitespace
  - exclude: "(?x)^(\n  environments/.*/secret.*|\n  .*\\.patch\n)$\n"
    id: end-of-file-fixer
  - exclude: "(?x)^(\n  environments/.*/secret.*|\n  .*\\.patch\n)$\n"
    id: check-yaml
  - exclude: "(?x)^(\n  environments/.*/secret.*|\n  .*\\.patch\n)$\n"
    id: check-json
  - exclude: "(?x)^(\n  environments/.*/secret.*|\n  .*\\.patch\n)$\n"
    id: check-xml
  - exclude: "(?x)^(\n  environments/.*/secret.*|\n  .*\\.patch\n)$\n"
    id: check-toml
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
- hooks:
  - args:
    - --select
    - I
    - --fix
    - --ignore
    - E501
    - --ignore
    - F401
    id: ruff-check
  - id: ruff-format
  repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.10
